@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root{
    --main-bg-color: #E9E9E9;
    --primary-text-color: #424242;
    --accent-color:#FF3F3C;
}


body{
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: "Inter",sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    margin-bottom: 100px;
}

header h1{
    margin: 0;
    font-weight: normal;
}

main{
    background: url('/images/polaroid.png') no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}
.hero{
    text-align: center;
    min-height: 800px;
}

.hero h2{
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

.details ul li{
    
    list-style-type: none;
    margin:10px 0;
    padding: 0 0 0 40px;
}

.details ul li.qr{
    background: url('/images/qrcode-solid.svg') no-repeat center left;
}

.details ul li.cloud{
    background: url('/images/cloud-arrow-up-solid.svg') no-repeat center left;
}

.details ul li.photo{
    background: url('/images/photo-film-solid.svg') no-repeat center left;
}

.details ul li.wifi{
    background: url('/images/wifi-solid.svg') no-repeat center left;
}

.details h3{
    text-align: center;
    font-size: 3em;
}

.cta form{
    padding: 20px;
    text-align: center;
    background: #dad9d9;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;

}


.cta h3{
    text-align: center;
    font-size: 3em;
}


.cta form input[type="button"]{
    background-color: var(--accent-color);
    border: none;
    color: white;
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    text-transform: uppercase;
    font-family: "Inter",sans-serif;
}

.cta form input[type="text"] {
    width: 60%;
    font-size: 16px; /* Adjust font size as needed */
    padding: 10px; /* Adjust padding as needed */
}

.cta form input[type="text"]::placeholder {
    font-size: 16px; /* Adjust placeholder font size as needed */
}

